.table{
    margin-top: 0px;
    display: flex;
    /* filter: blur(4px); */
    flex: 5 1 0px;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 6px;
    justify-content: space-between;
}
.game-but{
    font-weight: 300;
}