.card {
    flex: 1 0 100%;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 4vmin;
    align-self: stretch;

}

.uk-panel-box {
    padding: 15px;
    background: #fafafa;
    color: #444;
    border: 1px solid #ddd;
    border-radius: 4px;
}

ul{
    list-style-type: none;
}


span{
    overflow: auto;
    position: absolute;
    display: inline;
}

p{

    color: black;
    font-size: 30px;
}
.bottom-panel-actions {

    padding: 3vmin 3vmin 3vmin;
    float: none;

}
.bottom-panel-button {
    width: 100%;
    margin-bottom: 2vmin;
}

.bottom-panel-buttons {


    pointer-events: none;
    transition: opacity 0.3s ease-out;
    display: flex;
    flex-direction: column;

    justify-content: flex-end ;
}
.bottom-panel.opened .bottom-panel-buttons {
    opacity: 1;
    pointer-events: auto;
}

.uk-button:not(:disabled) {
    cursor: pointer;
}

.uk-button {
    -webkit-appearance: none;
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: #444;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 12px;
    background: #f7f7f7;
    vertical-align: middle;
    line-height: 28px;
    min-height: 30px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0,0,0,.2);
    border-bottom-color: rgba(0,0,0,.3);
    background-origin: border-box;
    background-image: -webkit-linear-gradient(top,#fff,#eee);
    background-image: linear-gradient(to bottom,#fff,#eee);
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;
}

.uk-width-1-1 {
    width: 100%;
}